<div class="row content_box">
  <h3>The string you entered contains your base word <strong><%= @result %></strong> times.</h3>
  <h4>Your Word: <%= @word %></h4>
  <h4>Your String: <%= @sentence %></h4>
  <div class="row" id="reset_button">
    <form action="/">
      <button type="submit" class="btn btn-primary" id="reset">Try Again!</button>
    </form>
  </div>
</div>
